.tasks-section {
    background-color: white;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    margin-top: 16px;
    min-height: 200px;
    border-bottom: 0.5px solid #696f8c;
}

.view-more-section {
    background-color: white;
    display: flex;
    border-radius: 0 0 10px 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.task-icon {
    width: 40px;
    height: 40px;
}

.task-info {
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.task-info div {
    width: max-content;
    height: 19px;
    font-family: Kanit;
    font-size: 12px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #111827;
}

.task-info span {
    font-family: Kanit;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #696f8c;
}

.task-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 45px;
    justify-content: space-around;
}

.task-action span {
    font-family: Kanit;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: #696f8c;
}

.view-more-btn {
    background-color: #fff;
    color: #242426;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.view-more-block {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.task-list {
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list img {
    width: 19.29px;
    height: 16.77px;
    object-fit: cover;
}

.tasks-container {
    overflow: hidden;
    max-height: 200px;
    transition: max-height 1.5s ease-out;
}

.tasks-container.expanded {
    max-height: max-content;
}

.task-block {
    margin-bottom: 100px;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.task-item {
    opacity: 0;
    animation: slideInFromLeft 1.2s ease-out forwards;
}

.task-block {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInFromLeft 1s ease-out forwards;
}