/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-radius: 10px;
}

.header img {
    width: 28.57px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-tokens {
    width: auto;
    height: 16px;
}

.token-info {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 3px;
}

.token-per-seconds {
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    min-width: 60px;
    width: 75px;
    margin-right: 3px;
}

.token-per-second-plus {
    width: 20%;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    justify-content: center;
}

.rocket-img {
    width: 10px !important;
}

.tocken-name {
    font-size: 10px;
    font-weight: 400;
    line-height: 16.45px;
}

.collected-tokens-amount,
.tocken-name {
    font-size: 13px;
    color: light-dark(black, white);
}

.header-right-icons {
    display: flex;
}

.header-right-icons .block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.header-right-icons .block div {
    display: flex;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2px;
}

.connect-wallet-btn {
    width: 10px;
}