.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
}
