/* Loader.css */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FC;
}

.spinner {
    width: 76px;
    height: 68px;
    transform-origin: center;
    animation: spinAndGrow 1s ease-in-out infinite;
}

@keyframes spinAndGrow {
    0% {
        transform: rotate(0deg) scale(1.5);
    }
    50% {
        transform: rotate(180deg) scale(2.5);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}