/* Loader.css */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f1015;
}

.spinner {
  width: 40px;
  height: 40px;
  animation: spinAndGrow 1s ease-in-out infinite;
}

@keyframes spinAndGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
