.invite-bonus-page {
    padding: 20px;
    background-color: #f7f8fa;
}

.farming-speed {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.farming-speed h2 {
    padding-bottom: 20px;
}

.farm-rates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.farm-rate {
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow {
    font-size: 24px;
}

.invite-bonus-section {
    background-color: #ffffff;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

.invite-bonus-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid transparent;
}

.invite-bonus-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.level-circle {
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 18px;
}

.invite-details {
    flex-grow: 1;
    margin-left: 15px;
}

.check-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.check-button:hover {
    background-color: #444;
}