/* Farming.css */

.farming-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  height: 60px;
}

.farming-info {
  position: relative;
  display: flex;
  z-index: 1;
  align-items: center;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
  padding: 5px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.farming-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #1118273b;
  transition: width 1.5s ease-out;
  z-index: 0;
}

.farming-status {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  border-radius: 30px 0 0 30px;
  align-items: flex-start;
  z-index: 1;
}

.farming-label {
  font-size: 14px;
  font-weight: bold;
}

.farming-timer {
  font-size: 10px;
  color: #666;
}

.farming-bbp {
  font-size: 13px;
  font-weight: bold;
}

.farming-action {
  display: flex;
  font-size: 16px;
  width: max-content;
  font-weight: bold;
  z-index: 1;
  margin: 0 auto;
}

.boost-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #666;
  padding: 5px 20px;
  border-radius: 0 30px 30px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
}

@keyframes waveExpand {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.farming-info.wave-effect::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: waveExpand 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  z-index: 0;
}
